html {
    scroll-behavior: smooth;
}

body {
    background: #2d067a;
    background: radial-gradient(circle, #010726 0%, #140028 100%);
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Navbar*/
.navbar {
    background: linear-gradient(180deg, #4b3119,#2c1c0f);
    border-bottom:3px solid #efbc2f;
    box-shadow:0 3px 15px #00000066;
}

.nav-link {
    color: #ede9c5;
}

.nav-link:hover {
    color: #c7da00;
}

/*Hero*/
.hero {
    height: 100vh;
    background-image: linear-gradient(#0a001eb3,#0a001ef2), url("../img/familia.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.5rem;
}

/*RESPONSIVEEE*/
@media (max-width: 500px){

.hero-content h1{
    font-size: 2.3rem;
}

.hero-content p{
    font-size: 1rem;
}

}

/*Secciones de evento*/
.secciones{
    padding: 2rem;
}

.about-block{
    display:flex;
    align-items:center;
    max-width:1200px;
    margin:0 auto 3rem auto;
    padding:1rem;
    border: 2px solid #a6332e;
    flex-wrap:wrap;
}

.about-block.reverse{
    flex-direction:row-reverse;
    border: 2px solid #3c4e91;

}

.about-image{
    flex:1;
}

.about-image img{
    width:90%;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 8px 20px #00000066;
}

.about-text{
    flex:1;
}

.about-text h2{
    color:#efbc2f;
    margin-bottom:1rem;
    font-size:2rem;
}

.about-text p{
    font-size:1.1rem;
    line-height:1.8;
}

/*para que se vea en celular*/
@media (max-width: 500px){
.about-block,
.about-block.reverse{
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
}

.about-image img{
    height: auto;
}

}

/*Sección recorrido*/
#recorrido {
    background:#ffffff08;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.datosRecorrido {
    padding: 1rem;
}

.mapa-recorrido {
    border-radius: 15px;
    box-shadow: 0 10px 30 #00000066;
    max-width: 100%;
    height: auto;
}

.card-body {
    background-color: #164b1636;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#faffc5;
}

/*Actividades*/
.card{
    background:#140028;
    color:#ffffff;
    border:1px solid #d4af37;
    padding: 1rem;
}

/*Footer*/
.footer {
    background: linear-gradient(180deg, #4b3119,#2c1c0f);
    border-top:3px solid #efbc2f;
    box-shadow:0 3px 15px #00000066;
}

/*inscripción*/
#inscripción {
    min-height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.formulario {
    margin: 0 auto;
    background-color: #2c40832e;
    border: 2px solid #efbc2f;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 0 20px #efbc2f33;
}

.form-control,
.form-select {
    background-color: #f8f9c3;
    color: #fff;
}

/*cronograma*/
.table {
    text-align: center;
    color: #ffffff;
}

/*no funciona TT*/
.table thead {
    background-color: #4b3119 !important;
    color: #efbc2f;
}

.table tbody tr {
    background-color: #3e1468;
}